body {
  margin: 0;
  padding: 1rem;
}

.slide {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-1 {
  background: red;
}

.slide-2 {
  background: blue;
}

.slide-3 {
  background: green;
}

.slide-4 {
  background: yellow;
}

.slide-5 {
  background: purple;
}